* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* BACKGROUND PATTERN */
body {
  background:
    radial-gradient(circle at 1px 1px, #ffffff15 1px, transparent 0);
  background-size: 25px 25px;
  background-color: #0f172a;
  color: #e5e7eb;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6366f1, #22d3ee);
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: #0f172a;
}

.hero p {
  margin-top: 10px;
  font-size: 1.1rem;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  background: #0f172a;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 80px 10%;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  text-align: center;
}

/* ABOUT */
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.about img {
  width: 100%;
  border-radius: 20px;
}

/* SKILLS */
.skill-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 25px;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 25px;
}

.project-card {
  background: rgba(255,255,255,0.08);
  padding: 25px;
  border-radius: 15px;
  border-left: 5px solid #22d3ee;
}

/* CONTACT */
.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.contact img {
  width: 100%;
  border-radius: 20px;
}

form input, form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

form button {
  background: #22d3ee;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
